header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    height: 60px;
    border: 1px solid #eee;
    background-color: #111;
}

.maintitle {
  font-size: 1em;
  color: #ddd;
}
