body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 50px;
  background-color: #e56;
}

main {
  height: 200px;
  background-color: #cc4;
}

footer {
  height: 50px;
  background-color: #bbb;
  }

  section {
      max-width: 800px;
      margin: 50px auto;
      border: 1px solid blue;
  }
