<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>KG Project 4</title>
    </head>

    <body>

        <header>
            <div class="maintitle">
                Sentiment Analysis
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <p>input your url here:</p>
                    <input id="urlinput" type="text" name="input" value="" placeholder="http://">
                    <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <div id="outcome"></div>
            </section>

            <section>
              <div class="grid-container">
               <div class="grid-header">Name</div>
               <div class="grid-header">Description</div>
               <div class="grid-header">Value</div>
               <div class="grid-item">Score</div>
               <div class="grid-item grid-desc">Polarity in the element</div>
               <div id="score" class="grid-item"></div>
               <div class="grid-item">Agreement</div>
               <div class="grid-item grid-desc">Agreement between polarity or disagreement between polarity</div>
               <div id="agreement" class="grid-item"></div>
               <div class="grid-item">Subjectivity</div>
               <div class="grid-item grid-desc">Has Subjective or Objective marks</div>
               <div id="subjectivity" class="grid-item"></div>
               <div class="grid-item">Confidence</div>
               <div class="grid-item grid-desc">Confidence associated with the analysis rated between 0-100</div>
               <div id="confidence" class="grid-item"></div>
               <div class="grid-item">Irony</div>
               <div class="grid-item grid-desc">Has Ironic marks or Non Ironic</div>
               <div id="irony" class="grid-item"></div>
             </div>
            </section>
        </main>

        <footer>
            <p>This page uses MeaningCloud™ (http://www.meaningcloud.com)</p>
        </footer>
        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>
    </body>
</html>
